body{
	font-family: 'Montserrat', sans-serif;
	background-color: #ffb727;
	
}

header{
	background: #ffb727;
	
}

.caixa{
	
	background-color: #fdec6f;
	position: relative;
	width: 100%;
	margin: 0 auto;
	
}


nav{
	position: absolute;
	top:  110px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #d2691e;
}
.main-produto{
	background: linear-gradient(#ffb727, #fdec6f);
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	background: #ffb727;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover{
	color: #d2691e;

}

.produtos li:active{
	border-color: #8A2BE2;
} 

.produtos li:hover h2{
	font-size: 35px;

}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao{
	font-size: 18px;

}

.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

form{
	margin: 40px 0;
	padding-left: 25%;
}

form label, form p{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;

}

.checkbox{
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.2);
	transition: 1s;
}


thead{
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px ;
}

.banner{

	width: 100%;
}

.tituloprincipal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	
}

.principal{
	padding: 3em 0;
	background: #fdec6f;
	width: 100%;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;

}

.principal em{
	font-style: italic;
}

.logo{
	
	float: left;
	margin: 0 20px 20px 0;
}

.texto-sobre{
	font-size: 25px;
}

.mapa{
	padding:3em 0;
	background: linear-gradient(#ffb727, #fdec6f);
}

.mapaconteudo{
	width:940px;
	margin:0 auto;

}

.mapa p{
	margin: 0 0 2em;
	text-align: center;

}

.contatos{
	background: linear-gradient(#ffb727, #fdec6f);
}

.rodape{
	width: 100%;
	height: 150px;
	background: #fdec6f;
}

.copyrigth{
	text-align: center;
	color: #000000;
	display: block;
	margin: 0 auto;
}

.imagem-footer{
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 480px){
	.caixa, .principal, .mapaconteudo, .produtos{
		width: auto;
	}
	h1{
		text-align: center;
	}

	nav{
		position: static;
	}

}